@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.container {

    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #082A3A;
    position: relative;

}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.1rem;
    width: 100%;
    background-color: #082A3A;
    position: fixed;
    top: 0;
    z-index: 1;
}



.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #1F6CAB;
    overflow: hidden;

}

.box:before {
    content: "L";
    position: absolute;
    top: 0;
    background: #8099e9;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'O';
}

.box:nth-child(3)::before {
    content: 'G';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'O';
}


.button:hover .box:before {
    transform: translateY(0);
}



/* MENU */
/* .btn-holder {

    display: flex;
   justify-content: space-between;
    align-items: center;
    gap: 20px;

} */

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

/*  */

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}



/*  hover-border */
.btn.hover-border-4::before,
.btn.hover-border-4::after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
}

.btn.hover-border-4::before {
    bottom: 0;
    left: -1px;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-4::after {
    top: 0;
    right: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-4:hover::before,
.btn.hover-border-4:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
}

/*--- btn ---*/
.btn-4 span {
    color: rgb(28, 31, 30);
    background-color: #00E6F6;
}

.btn-4 span:hover {
    color: rgb(54, 56, 55);
}

.btn-4::before,
.btn-4::after {
    width: 15%;
    height: 2px;
    background-color: rgb(54, 56, 55);
    z-index: 2;
}

/*  hover-border */
.btn.hover-border-6::before,
.btn.hover-border-6::after {
    top: 0;
    transition: width 0.2s 0.35s ease-out;
}

.btn.hover-border-6::before {
    right: 50%;
}

.btn.hover-border-6::after {
    left: 50%;
}

.btn.hover-border-6:hover::before,
.btn.hover-border-6:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
}

.btn.hover-border-6 span::before,
.btn.hover-border-6 span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
}

.btn.hover-border-6 span::before {
    top: 0;
    left: 0;
    border-left: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-6 span::after {
    top: 0;
    right: 0;
    border-right: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-6 span:hover::before,
.btn.hover-border-6 span:hover::after {
    width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;
}

/*  hover-border */
.btn.hover-border-7::before,
.btn.hover-border-7::after {
    bottom: 0;
    transition: width 0.2s 0.35s ease-out;
}

.btn.hover-border-7::before {
    right: 50%;
}

.btn.hover-border-7::after {
    left: 50%;
}

.btn.hover-border-7:hover::before,
.btn.hover-border-7:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
}

.btn.hover-border-7 span::before,
.btn.hover-border-7 span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
}

.btn.hover-border-7 span::before {
    bottom: 0;
    left: 0;
    border-left: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-7 span::after {
    bottom: 0;
    right: 0;
    border-right: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-7 span:hover::before,
.btn.hover-border-7 span:hover::after {
    width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;
}


/* section 1 */


.section1 {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */
    background-color: #afc0ce;
    text-align: left;


}

.div1 {
    width: 60%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/sect1.png);
    background-position: center;
    background-size: cover;
    text-align: left;
    /* border: 5px solid red; */

}

.div2 {

    width: 600px;
    height: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    color: #ffffff;
    /* border: 5px solid red; */

}

.sech1 {

    width: 70%;
    height: 2rem;
    font-size: 30px;
    text-align: left;
    border-bottom: 2px #949090 solid;

}

h2 {
    text-align: left;
    font-size: 25px;
    width: 70%;
    height: 2rem;
    font-family: 'Playfair Display', serif;

}

p {
    text-align: left;
    font-size: 17px;
    width: 70%;
    height: 2rem;
    font-family: 'Playfair Display', serif;

}

/* sect button */
.btn-3 {

    /* border: 5px solid red; */
    margin-right: 295px;
    margin-top: 20px;

}

.btn-3 {
    padding: 5px;
}

.btn-3 span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
}

.btn-3::before,
.btn-3::after {
    background: transparent;
    z-index: 2;
}

.btn.hover-border-3::before,
.btn.hover-border-3::after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}

.btn.hover-border-3::before {
    top: 0;
    right: 0;
    border-top: 1px solid rgb(47, 82, 70);
    border-left: 1px solid rgb(47, 82, 70);
}

.btn.hover-border-3::after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(47, 82, 70);
    border-right: 1px solid rgb(47, 82, 70);
}

.btn.hover-border-3:hover::before,
.btn.hover-border-3:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}

.morenews {
    margin: 0 auto;
    width: 40%;
    height: 38rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 79px 90px 90px;
}

h3 {
    margin-top: 50px;
    font-size: 30px;
    border-bottom: 3px solid rgb(89, 90, 87);
}

.wt {
    color: #FA6980;
    font-size: 1rem;
}

.tt {
    font-size: 1rem;
    color: #202124;

}

.lorem {
    font-size: 1rem;
    color: #ff0000;

}

.fa-clock {
    font-size: 0.4rem;
}

.news1:hover {
    color: #464646;
    box-shadow: 2px 2px 15px #cfcfcf inset;


}




/* SECTION2 */

.section2 {
    width: 80%;
    margin: 0 auto;
    /* border: 3px solid red; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* border: 3px solid red; */
    /* padding: 20px 70px ; */
    margin: 40px auto;



}

.trnd {

    font-size: 35px;
    border-bottom: none;
    margin-bottom: 20px;
    color: #b5c5cc;
    padding-left: 30px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 30px; */
    /* border: 3px solid red; */
    width: 100%;
    height: 350px;
    /* padding-right: 20px; */
    gap: 50px;
}

.card {
    margin: 2%;
    background: #8fa7a0;
    width: 33%;
    height: 350px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 13px;

    padding-top: 30px;

}

.sect2img {

    width: 100%;
    height: 50%;


}



.card>span {
    /* display: block; */
    margin: auto;
    /* max-width: 40px; */
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-align: left;
    color: #082A3A;
    /* border: 3px solid red; */
}

.cards:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.cards:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: #A82C2C;
    color: white;
}


/* section 3 */

.section3 {
    width: 80%;
    margin: 0 auto;
}

.sec3h {

    border-bottom: none;
    margin-bottom: 20px;
}


.mtavari1 {
    width: 100%;
    /* border: 3px solid red; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* marcxena seqcia */
.mtvr {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 3px solid red; */
}

.fotomv {
    width: 100%;
    height: 430px;
    background-image: url(../img/Imagesec1.png);
    background-position: center;
    background-size: cover;
    border: 2px solid #6c9b6c;
    box-shadow: 2px 2px 15px #000000 inset;
}

.fotomv:hover {

    color: #6c9b6c;
    box-shadow: 2px 2px 15px #6c9b6c inset;

}


.fotomv h3 {
    margin-bottom: 232px;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    border-bottom: none;
}


.fotomv h2 {
    font-size: 1.5rem;
    color: #cdb8f0;
    font-weight: bold;
    margin-bottom: 10px;
}


.fotomv p {
    font-size: 1rem;
    color: #d1fafffb;
}


.ftomv {
    width: 100%;
    height: 430px;
    background-image: url(../img/imagesec2.png);
    background-position: center;
    background-size: cover;
    border: 2px solid #6c9b6c;
    box-shadow: 2px 2px 15px #000000 inset;

}

.ftomv:hover {

    color: #6c9b6c;
    box-shadow: 2px 2px 15px #6c9b6c inset;

}

.ftomv h3 {
    margin-bottom: 232px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    border-bottom: none;

}

.ftomv h2 {
    font-size: 1.5rem;
    color: #cdb8f0;
    font-weight: bold;
    margin-bottom: 10px;
}

.ftomv p {
    font-size: 1rem;
    color: #d1fafffb;
}

/* marjvena seqcia */

.marjsec {

    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.card3 {
    margin: 0 auto;
    width: 80%;
    height: 254px;
    background: transparent;
    border: 2px solid #6c9b6c;
    box-shadow: 2px 2px 15px #000000 inset;
    text-align: center;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Pacifico';

}

.sect3img {

    width: 100%;
    height: 60%;


}

.card3:hover {
    color: #6c9b6c;
    box-shadow: 2px 2px 15px #6c9b6c inset;
}


/* FOOTER */

footer {
    width: 100%;
    height: 200px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 57px;
    background-color: #a6adb4;
}

.footer_cnt {
    display: flex;
    gap: 40px;
    font-family: "helvetica";
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #cbd0d2;
}


.footer_icons {
    display: flex;
    gap: 20px;
}

.icons1 {
    color: #FFFFFF;
}

.fa-twitter {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-earth-americas {
    margin-left: 10px;
}

.fa-instagram:hover {
    color: #800966;
}

.fa-twitter:hover {
    color: #1F6CAB;
}

.fa-facebook:hover {
    color: blue;
}

.fa-earth-americas:hover {
    color: #8099e9;
}

.footer_ul:hover {
    color: darkblue;
}